body {
  background-color: #0057B8;
  line-height: 3vh;
  text-align: center;
}

.svg {
  display: inline-block;
  height: 300px;
  width: 300px;
  line-height: 300px;
  text-align: center;
  background-color: #FFF;
  border-radius: 50%;
}

#svg {
  display: inline-block;
  vertical-align: middle;
  fill: #0057B8;
}

h1 {
   color: #FFFFFFFF; 
   align: center;
}